{% extends 'base.html' %}

{% block content %}
    <section id="basic-horizontal-layouts">
        <div class="row match-height">
            <div class="col-md-10 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Enregistrer un nouveau livre</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form method="post" class="form form-horizontal">
                                {% csrf_token %}
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Auteur du livre</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group has-icon-left">
                                                <div class="position-relative">
                                                    <input type="text" name="lv_auteur" class="form-control" placeholder="Nom complet de l'Auteur"
                                                        id="first-name-icon">
                                                    <div class="form-control-icon">
                                                        <i class="bi bi-person"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Titre du livre</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group has-icon-left">
                                                <div class="position-relative">
                                                    <input type="text" name="lv_nom" class="form-control" placeholder="Titre du livre"
                                                        id="first-name-icon">
                                                    <div class="form-control-icon">
                                                        <i class="bi bi-book"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Le Volume</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group has-icon-left">
                                                <div class="position-relative">
                                                    <input type="text" name="lv_volume" class="form-control" placeholder="Volume du livre">
                                                    <div class="form-control-icon">
                                                        <i class="bi bi-bit"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Nombre d'exemplaire</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group has-icon-left">
                                                <div class="position-relative">
                                                    <input type="number" name="nombre_livre" class="form-control" placeholder="Nombre d'exemplaire du livre">
                                                    <div class="form-control-icon">
                                                        <i class="bi bi-number"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <h6>Le Type du livre</h6>
                                                <div class="input-group mb-3">
                                                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                                                    <select name="type" class="form-select" id="inputGroupSelect01">
                                                        <option selected>Chosir le type...</option>
                                                        {% for t in types %}
                                                            <option value={{ t.id_type }}>{{ t.nom_type }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <h6>Le rayon</h6>
                                                <div class="input-group mb-3">
                                                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                                                    <select name="rayon" class="form-select" id="inputGroupSelect01">
                                                        <option selected>Choisir le Rayon...</option>
                                                        {% for r in rayons %}
                                                            <option value={{ r.id_rayon }}>{{ r.nom_rayon }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary me-1 mb-1">Enregistrer</button>
                                            <button type="reset"
                                                class="btn btn-light-secondary me-1 mb-1"><a href="{% url 'alfarouk' %}">Annuler</a></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            {% if message1 %}
                                <span>{{ message1 }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}