{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BIBLIOTHÈQUE-ALFAROUK</title>
        
        <link rel="stylesheet" href="{% static 'assets/css/main/app.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/main/app-dark.css' %}">
        <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.svg" type="image/x-icon' %}">
        <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.png" type="image/png' %}">        
        <link rel="stylesheet" href="{% static 'assets/css/shared/iconly.css' %}">      
        <link rel="stylesheet" href="{% static 'assets/extensions/simple-datatables/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/pages/simple-datatables.css' %}">
    
        <link rel="stylesheet" href="{% static 'assets/extensions/@fortawesome/fontawesome-free/css/all.min.css' %}">

        <style>
            .fontawesome-icons {
                text-align: center;
            }
        
            article dl {
                background-color: rgba(0, 0, 0, .02);
                padding: 20px;
            }
        
            .fontawesome-icons .the-icon {
                font-size: 24px;
                line-height: 1.2;
            }
        </style>

    </head>

    <body>
        <div id="app">
            <div id="sidebar" class="active">
                <div class="sidebar-wrapper active">
                    <div class="sidebar-header position-relative">
                        <a href="{% url 'domaine' %}">ALFAROUK</a>
                    </div>
                    <div class="sidebar-menu">
                        <ul class="menu">
                            <li class="sidebar-title">Menu</li>

                            {% for dom in domaines %}
                            
                                <li
                                    class="sidebar-item">
                                    <a href="{% url 'resultat' dom.id_dom %}" class='sidebar-link'>
                                        <i class="bi bi-book-fill"></i>
                                        <span>{{ dom.domaines }}</span>
                                    </a>
                                </li>
                            
                            {% endfor %}
                           <hr>
                            {% if user.is_authenticated %} 
                                <li
                                    class="sidebar-item active ">
                                    <a href="{% url 'logout' %}" class='sidebar-link'>
                                        <i class="bi bi-user-fill"></i>
                                        <span>Se déconnecter</span>
                                    </a>
                                </li>
                            {% endif %}  
                        </ul>
                    </div>
                </div>
            </div>
            <div id="main">
                <header class="mb-3">
                    <a href="#" class="burger-btn d-block d-xl-none">
                        <i class="bi bi-justify fs-3"></i>
                    </a>
                </header>
                
                <div class="page-heading">
                    <h3></h3>
                </div>
                <div class="page-content">
                    {% block content %}

                    {% endblock %}

                </div>


            </div>
        </div>
        <script src="{% static 'assets/js/bootstrap.js' %}"></script>
        <script src="{% static 'assets/js/app.js' %}"></script>

        <!-- Need: Apexcharts -->
        <script src="{% static 'assets/extensions/apexcharts/apexcharts.min.js' %}"></script>
        <script src="{% static 'assets/js/pages/dashboard.js' %}"></script>
    
        <script src="{% static 'assets/extensions/simple-datatables/umd/simple-datatables.js' %}"></script>
        <script src="{% static 'assets/js/pages/simple-datatables.js' %}"></script>

    </body>

</html>
