
{% extends 'base.html' %}

{% block content %}

    <div class="page-title">
        <div class="row">
            <div class="col-md-6 col-3">
                <form method="POST" class="form form-horizontal">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <!-- Vertically Centered modal Modal -->
                                <div class="modal fade show" style="display: block;" id="exampleModalCenter" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                                        role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Modifier le Domaine </h5>
                                                <button type="button" class="close" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                    <i data-feather="x"></i>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {{form}}
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{% url 'domaine' %}" class="btn btn-light-secondary">
                                                    <i class="bx bx-x d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">Annuler</span>
                                                </a>
                                                <button type="submit" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                                                    <i class="bx bx-check d-block d-sm-none"></i>
                                                
                                                    <span class="d-none d-sm-block">Modifier</span> 
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Accuiel</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Domaines</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}