
{% extends 'base.html' %}

{% block content %}

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <p class="text-subtitle text-muted">Les Types de livre dans la bibliothèque Alfarouk</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blocs</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header">
                    Résultat
                </div>
                <div class="card-body">
                    <table class="table table-striped" id="table1">
                        <thead>
                            <tr>
                                <th>Types</th>
                                {% if user.is_authenticated %} 
                                <th>Action</th>
                                {% endif %} 
                            </tr>
                        </thead>
                        <tbody>
                            {% for type in types %}
                            <tr>
                                <td>{{ type.nom_type }}</td>
                                &nbsp;&nbsp;&nbsp;
                                {% if user.is_authenticated %} 
                                    <td class="row">
                                        <a href="#" id="trash-alt" data-bs-toggle="modal" data-bs-target="#backdrop"
                                                        class="icon col-6 col-md-3 col-lg-2 pr4 pb2 pt2 bb bw1 b--gray1 hover-black bw0-pr db fl-pr">
                                            <dl class="dt w-100 ma0 pa0">
                                                <dt class="the-icon"><span class="fa-fw select-all fas"></span></dt>
                                                <dd class="mt-2 text-sm select-all word-wrap dtc v-top tl f2 icon-name"></dd>
                                                <dd class="text-xs text-muted gray5 dtc v-top tr f2 icon-unicode"></dd>
                                            </dl>
                                        </a>
                                        <div class="modal fade text-left" id="backdrop" tabindex="-1" role="dialog"
                                            aria-labelledby="myModalLabel4" data-bs-backdrop="false" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myModalLabel4">Suppression !!!!</h4>
                                                        <button type="button" class="close" data-bs-dismiss="modal"
                                                            aria-label="Close">
                                                            <i data-feather="x"></i>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p> Attention ! ! ! !</p>
                                                        <p>C'est irréccupérable après la suppréssion  </p>
                                                        <p> Vous êtes sûr de vouloire supprimer </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-light-secondary"
                                                            data-bs-dismiss="modal">
                                                            <i class="bx bx-x d-block d-sm-none"></i>
                                                            <span class="d-none d-sm-block">Annuler</span>
                                                        </button>
                                                        <button type="button" class="btn btn-danger ml-1" data-bs-dismiss="modal">
                                                            <i class="bx bx-check d-block d-sm-none"></i>
                                                            <a href="{% url 'supprimer_type' type.id_type %}">
                                                                <span class="d-none d-sm-block">Confirmer</span>
                                                            </a>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       &nbsp;&nbsp;&nbsp;
                                        <a href="{% url 'edit_type' type.id_type %}" id="edit"
                                            class="icon col-6 col-md-3 col-lg-2 pr4 pb2 pt2 bb bw1 b--gray1 hover-black bw0-pr db fl-pr"><dl class="dt w-100 ma0 pa0">
                                                <dt class="the-icon"><span class="fa-fw select-all fas"></span></dt>
                                                <dd class="mt-2 text-sm select-all word-wrap dtc v-top tl f2 icon-name"></dd>
                                                <dd class="text-xs text-muted gray5 dtc v-top tr f2 icon-unicode"></dd>
                                            </dl>
                                        </a>
                                
                                </td>
                                {% endif %}  
                            </tr>
                    {% endfor %}

                        
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </div>

{% endblock %}